__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# venv
.venv/
venv/
env/

# env
.env

# tests and cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# ide
.idea/
.vscode/
*.swp

# os
.DS_Store
Thumbs.db
